@import "../../styles/style-variables.scss";

.flex-row {
  display: flex;
  gap: $padding-lr;
  // .flex-row-col {
  //   padding: $padding-all;
  // }
}
.equal-columns {
  .flex-row-col {
    flex: 1;
    // padding: $padding-all;
  }
}

@media screen and (max-width: $mobile-width) {
  .responsive-columns {
    flex-direction: column;
    gap: $padding-tb;
  }
}
