@use "../../styles/style-variables.scss" as *;

.flexRow {
  display: flex;
  gap: $padding-lr;
  // .flexRowCol {
  //   padding: $padding-all;
  // }
}
.flexEqualColumns {
  .flexRowCol {
    flex: 1;
    // padding: $padding-all;
  }
}

@media screen and (max-width: $mobile-width) {
  .flexResponsiveColumns {
    flex-direction: column;
    gap: $padding-tb;
  }
}
