$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$primary-color-bg: #088413;
$primary-color-bg-1: #1eb52b; // nhạt hơn
$primary-color-shadow: #37b63580;

$secondary-color: #2199f9;

$color-gray: gray;
$color-gray-1: #c9c9c9;
$color-gray-1-1: #e2e2e2;
$color-gray-1-2: #b3b3b3;

$color-white: #fff;
$color-black: #000;

$padding-lr: 5%; // lr: left, right
$padding-lr-sm: 2%; // sm: small
$padding-all: 0.5em $padding-lr;
$padding-tb: 20px; // tb: top, bottom
$padding-tb-half: 10px;

$shadow-blur: 0 4px 12px 2px;
$shadow-blur-s: 0 2px 6px 0px;

$radius-square: 50%;
$radius-sm: 4px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 20px;

$gap-s: 6px;
$gap-m: 12px;
$gap-l: 24px;
$gap-xl: 36px;
$gap-xxl: 48px;
